# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
venv/
env/

# Node
node_modules
npm-debug.log
.npm

# Editor / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db


# Logs and other artifacts
*.log
*.pot
*.pytx
.pytest_cache/
.coverage
